.git
.github
.cursor
.vscode
.nx
node_modules
**/node_modules
dist
tmp
var
coverage
**/.next
**/.turbo
**/.vite
**/coverage
.env
.env.*
!.env.example
deploy/.env.production
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile*
docker-compose*.yml
compose*.yml
